# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/idea/
/controller/controller.iml
/repository/repository.iml
/service/service.iml
/Webshop1.iml
/controller/target/
/repository/target/
/service/target/
/.idea/
